
body{
    height: 100vh;
    background-color: #76045D;
    display: grid;
    grid-template-areas:
     "header "
     "main "
     "footer";
     grid-template-rows: 100px 1fr 100px;
     font-family: 'Montserrat', sans-serif;
}

header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;

}


main{
    grid-area: main ;
    display: grid;
    grid-template-areas:
    "description product social" ;
    padding: 0 100px ;
    grid-template-columns: 380px 1fr 48px;

}



footer{
    grid-area: footer ;
    background-color: burlywood;

}


