*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #76045D;
    display: grid;
    grid-template-areas:
     "header "
     "main "
     "footer";
     grid-template-rows: 100px 1fr 100px;
}

header{
    grid-area: header;
    background-color: aliceblue;

}

main{
    grid-area: main ;
    background-color: aqua;

}

footer{
    grid-area: footer ;
    background-color: burlywood;

}


